:root {
    --primary-color: rgb(234, 201, 136);
    --secondary-color: whitesmoke;
    --brown-color: rgb(70, 67, 65);
    --red-color: rgb(186, 71, 50);
    --shadow1: 0 0 10px 1px var(--secondary-color);
    --shadow2: 0 0 10px 2px var(--secondary-color);
}

.text-primary {
    color: var(--secondary-color)
}

.text-secondary {
    color: var(--secondary-color)
}

.text-red {
    color: var(--red-color)
}

.list--selected {
    color: var(--secondary-color) !important;
    border-radius: unset !important;
    box-sizing: border-box !important;
    border-bottom: 3px solid var(--secondary-color) !important;
}

.list {
    font-weight: bold !important;
    box-sizing: border-box !important;
    color: var(--primary-color);
}

.list-item:hover {
    transition: all ease-in-out 120ms;
    box-shadow: 0 0 10px 2px var(--secondary-color);
}

.list-item {
    margin: 0 16px;
    background-color: rgb(120,120,120) !important;
}

.list-item:hover .text {
    transition: color ease-in-out 300ms;
    color: var(--secondary-color);
}