.table-container,
.table-container--no-table
{
    flex-grow: 1; /* Разрешаем этому блоку занимать всё оставшееся пространство */
    flex-shrink: 0.8; /* Разрешаем ему сжиматься, если необходимо */
    flex-basis: var(--table-container-width);
    height: 100%;
    min-width: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.table-container {
    position: relative;
}

.table-container__nav--right {
    display: block;
}

.table-container__header {
    position: relative;
}

.table-container__header, .table-container__nav  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6rem;
    box-sizing: border-box;

    min-height: 35px;
    max-height: 35px;
    flex-basis: 35px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--primary-color);
}

.table-container__nav > div:first-child button {
    max-width: max-content;
    min-width: max-content;
}

.table-container--no-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-container--no-table .table-container__header {
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.table-container__no-table-body {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.table-container__nav > * {
    width: calc(100% / 3);
}

.table-container__header-text {
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 5px;

    font-weight: bold;
    color: var(--secondary-color);
}

.table-container__time b {
    color: var(--secondary-color)
}

.table-container__time {
    min-width: calc(100% / 2.8);
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}

.table-container__calc {
    display: flex;
    flex-direction: row-reverse;
}

.table-container__menu {
    display: flex;
    justify-content: center;
    height: 100%;
}

.table-container__main-content {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
}

.table-container__table-header {
    display: flex;
    justify-content: space-around;
    min-height: 40px;
    max-height: 40px;
    flex-basis: 40px;
    flex-shrink: 0;
    color: var(--secondary-color);
    font-weight: bold;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: nowrap;
    max-width: 100%;
}

.table-container__table-header > span {
    margin: 0 2px;
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-container__calc-modal {
    position: relative;
    width: 100%;
}

.table-container__calc-modal-content {
    position: absolute;
    left: 20px;
    right: 20px;
    top: calc(100% + 20px);
    z-index: 11
}

.table-container__table-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    overflow-y: hidden;
    border-top: 1px solid var(--primary-color);
}

.table-container__table-content--scroll {
    overflow-y: auto;
    flex-grow: 1;
    min-height: 0;
    box-sizing: border-box;
    border-bottom: 1px solid var(--primary-color);
    overflow-x: hidden;
    padding: 8px 0;
}

.table-container__scroll-shadow {
    flex-grow: 1;
    min-height: 0;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.table-container__scroll-shadow::before,
.table-container__scroll-shadow::after {
    content: '';
    position: absolute; /* <-- КЛЮЧЕВОЕ: Делает их "липкими" к краям контейнера */
    left: 0;
    width: calc(100%);
    height: 20px !important;
    z-index: 3; /* <-- КЛЮЧЕВОЕ: Выше чем z-index контейнера, но ниже сообщений */
    pointer-events: none; /* <-- КЛЮЧЕВОЕ: Позволяет кликам проходить сквозь тень */
}

.table-container__scroll-shadow::before {
    top: 0;
    box-shadow: inset 0 10px 7px 0 rgba(0, 0, 0, 0.7);
}

.table-container__scroll-shadow::after {
    bottom: 36px;
    box-shadow: inset 0 -10px 7px 0 rgba(0, 0, 0, 0.7);
}

.table-container__table-content--scroll {
    scrollbar-width: thin;
    scrollbar-color: rgb(234, 201, 136) rgba(234, 201, 136, 0.25);
}

.table-container__table-content--scroll::-webkit-scrollbar {
    width: 0.33rem;
}

.table-container__table-content--scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    border: 1px solid var(--primary-color);
}

.table-container__table-content--scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: var(--secondary-color);
}

.table-container__table-content-add-list {
    display: flex;
    margin: 0 auto;
    width: 100%;
    min-height: 34px;
    max-height: 34px;
    flex-basis: 34px;
    flex-shrink: 0;
    justify-content: center;
    box-sizing: border-box;
}

.table-container__table-content-add-castle {
    border: 1px solid;
    border-radius: 6px;
    padding: 0.4rem;
    width: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 0.4rem;
}


.table-calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    border: 5px solid var(--brown-color);
    overflow: hidden;
    box-shadow: var(--shadow2);
    position: relative;
    background-color: var(--primary-color);
    box-sizing: border-box;
}

.table-calculator__close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
}

.table-calculator__close:hover {
    transform: scale(1.1);
    color: var(--secondary-color);
}

.table-calculator__header {
    text-align: center;
    width: 100%;
    min-height: 30px;
    max-height: 30px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid var(--primary-color);
    color: var(--secondary-color);
    position: relative;
}



.table-calculator__calculator-headers {
    display: flex;
    color: var(--primary-color);
    padding: 10px;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
}

.table-calculator__calculator-headers > span, .table-calculator__calculator-body > div {
    width: 120px;
    display: flex;
    justify-content: center;
}

.table-calculator__calculator-body .select.castle {
    margin: unset;
}

.table-calculator__calculator-body > div input {
    width: 90%;
    margin: 0 auto;
}

.table-calculator__calculator-body {
    align-items: center;
    display: flex;
    padding: 10px;
}

.table-calculator__calculator-body .text-yellow, .table-calculator__calculator-body .text-red,.table-calculator__calculator-body .text-secondary {
    box-sizing: border-box;
    margin: 0 5px;
    padding: 4px;
    border-radius: 5px;
    height: 30px;
}

.table-calculator__table-header {
    margin: 1rem auto;
}

.table-calculator__table-headers {
    color: var(--secondary-color);
    padding-top: 10px;
    font-weight: bold;
}

.table-calculator__table-headers, .table-calculator__table-rows {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 1rem;
}

.table-calculator__table-rows {
    color: var(--primary-color);
}

.table-calculator__table-headers > div, .table-calculator__table-rows > div {
    width: 100%;
}

.table-calculator__table-rows--bold {
    color: var(--secondary-color);
    font-weight: bold;
}

.table-container__aside {
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.table-container__aside-row {
    min-height: 40px !important;
    box-sizing: border-box;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0.7rem;
    position: relative;
}

.table-container__aside-row::before {
    content: '';
    width: 20px;
    height: 100%;
    right: -20px;
    border-left: 1px solid var(--primary-color);
    box-sizing: border-box;
    position: absolute;
    pointer-events: none;
    background: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    z-index: 9999;
}

.table-container__aside-row > div {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-container__content {
    width: 100%;
}

.calculator-card {
    position: relative;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(234, 201, 136, 0.15);
}

.table-container .calculator-card {
    background-color: rgba(34, 31, 29, 0.95);
    backdrop-filter: blur(5px);
}

.calculator-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 5px 7px rgba(0,0,0,0.7);
    height: max-content;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
    margin-bottom: 12px;
}

.table-calculator__calculator-output {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background-color: rgba(234, 201, 136, 0.15);
    padding: 12px 20px;
    box-sizing: border-box;
    width: max-content;
    font-weight: bold;
}

.table-calculator__headers-inputs {
    width: 400px;
    gap: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.table-calculator__inputs {
    width: 400px;
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    margin: 0 auto;
}

.table-calculator__inputs > div, .table-calculator__headers-inputs > span {
    width: 25%;
}

.table-calculator__inputs input, .table-calculator__inputs .select.castle {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.table-calculator__calculator-output {
    width: 400px;
    font-size: var(--large-screen-extra-large);
    justify-content: space-evenly;
    display: flex;
    margin: 0 auto;
}

.table-calculator__body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media screen and (max-device-width: 1330px) {
    .table-container, .table-container--no-table {
        border-right: 0;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1630px) {
    .table-container, .table-container--no-table {
        font-size: var(--medium-screen-large);
        border-bottom: 0;
    }

    .table-container__table-header span {
        font-size: var(--medium-screen-large);
    }

    .table-container__table-header > span {
        overflow: visible;
        white-space: nowrap;
        text-overflow: clip;
    }

    .table-container__calc-modal-content {
        left: 50%;
        top: 0;
        width: 90%;
        transform: translateX(-50%);
        z-index: 11
    }

    .table-container__header, .table-container__nav  {
        min-height: 27px;
        max-height: 27px;
        flex-basis: 27px;
    }

    .table-calculator {
        font-size: var(--medium-screen-large);
    }

    .table-calculator__header.first {
        min-height: 22px;
        max-height: 22px;
        flex-basis: 22px;
    }
}

@media screen and (max-device-width: 1023px) {
    .table-container {
        flex-basis: 100dvw;
        min-width: 100dvw;
        max-width: 100dvw;
        scroll-snap-align: end;
        font-size: var(--small-screen-extra-large);
        border-right: 0;
        border-bottom: 0;
    }

    .table-container__nav {
        min-height: 26px;
        max-height: 26px;
        flex-basis: 26px;
    }

    .table-container__header {
        min-height: 37px;
        max-height: 37px;
        flex-basis: 37px;
    }

    .table-container__table-content-add-list {
        min-height: 26px;
        max-height: 26px;
        flex-basis: 26px;
    }

    .table-container__table-content-add-list button {
        width: unset;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 0;
        padding: unset;
        margin: unset;
    }

    .table-container__table-header > span {
        overflow: visible;
        white-space: nowrap;
        text-overflow: clip;
    }

    .table-container__calc {
        margin-left: -30px;
        flex-direction: row;
        justify-content: center;
    }

    .table-container__calc-modal {
        width: 100dvw;
        height: 1px;
    }

    .table-container__calc-modal-content {
        max-width: calc(100dvw - 10px);
    }

    .table-container__scroll-shadow::after {
        bottom: 27px;
    }

    .table-container--no-table {
        width: 0;
        flex-basis: 0;
        border: 0;
    }

    .table-calculator__close {
        top: -5px;
        right: 5px;
        font-size: 20px;
    }

    .table-calculator__header {
        min-height: 28px;
        max-height: 28px;
        flex-basis: 28px;
        box-sizing: border-box;
    }

    .table-container__time--local, .table-container__nav--right {
        display: none;
    }

    .table-container__small-screen-indicator {
        display: none;
    }

    .table-container__nav > * {
        width: max-content;
    }

    .table-container__nav, .table-container__menu {
        padding-right: 0;
    }

    .table-container__menu button {
        max-width: max-content;
        min-width: max-content;
    }

    .table-calculator__calculator-headers {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        margin-bottom: 10px;
    }

    .table-calculator__calculator-headers > div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .table-calculator__calculator-body {
        flex-direction: column;
    }

    .table-calculator__headers-inputs > *, .table-calculator__inputs > * {
        width: 25%;
        box-sizing: border-box;
        padding: 0 5px;
    }

    .table-calculator__inputs input, .table-calculator__inputs .select.castle {
        padding: 8px;
        margin: 10px 0;
        width: 100%;
    }

    .table-calculator__inputs {
        gap: 0;
    }

    .table-calculator__calculator-output {
        font-size: var(--large-screen-large);
    }

    .calculator-card {
        width: 100%;
    }

    .table-calculator__body {
        padding: 12px;
    }
}