.isMe {
    color: whitesmoke !important;
    font-weight: bold;
}

.user {
    box-sizing: border-box;
    color: rgb(234, 201, 136);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    max-height: 40px;
    width: 100%;
    position: relative;
}

.user:hover {
    transition: all ease-in 300ms;
    color: white !important;
    cursor: pointer !important;
}

/*.user:hover .dropdownUser {*/
/*    transition: all ease-in 100ms;*/
/*    display: flex;*/
/*    height: 100px;*/
/*    box-shadow: 0 0 10px 2px white !important;*/
/*    z-index: 2;*/
/*    opacity: 1;*/
/*    border-radius: 5px;*/
/*}*/

.table-list-item:hover {
    transition: all ease-in 100ms;
    box-shadow: 0 0 10px 2px white !important;
}

.dropdownAnimated {
    transition: all ease-in-out 150ms;
    opacity: 1 !important;
    z-index: 3;
    box-shadow: 0 0 10px 2px white !important;
    cursor: default;
}

.dropdownUser {
    max-height: 300px;
    top: 0;
    opacity: 0;
    display: flex;
    position: absolute;
    border-radius: 5px !important;
}

.castle {
    text-align: center;
    vertical-align: middle;
    justify-content: space-around;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    align-items: center;
}

.castle:hover {
    cursor: pointer;
}

.castle-edit {
    z-index: 3 !important;
    position: relative;
    cursor: default !important;
}

.castle-edit:hover {
    box-shadow: none;
}

.castle-edit-header {
    border-radius: 5px 5px 0 0;
    z-index: 3 !important;
    top: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: absolute;
    box-shadow: 0 0 10px 2px white;
    transition: all ease-in 100ms;
}

.castle-edit-error {
    border-radius: 0 0 5px 5px;
    z-index: 3 !important;
    top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: absolute;
    box-shadow: 0 0 10px 2px white;
    transition: all ease-in 100ms;
}

.castle-input {
    margin: 8px 0;
    box-sizing: border-box;
    color: whitesmoke;
    width: 54px;
    padding: 8px;
    border: 2px solid rgb(234, 201, 136);
    border-radius: 7px;
}

.castle-input:focus {
    box-shadow: 0 0 10px 1px white;
    background: rgb(234, 201, 136) !important;
    color: rgb(70, 67, 65);
}

.castle-input::placeholder {
    color: rgb(70, 67, 65);
    font-weight: bold;
}

.castle-input:focus::placeholder {
    color: rgb(48,44,43);
}

.select-clan {
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.select-clan::-ms-expand {
    display: none;
}

.select-clan:hover {
    box-shadow: 0 0 10px 1px white;
}

.scroll {
    overflow-y: scroll;
    max-height: 645px;
    box-sizing: initial;
}
.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    border: 1px solid rgb(234, 201, 136);
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: rgb(234, 201, 136);
}