.scroll {
    overflow-y: scroll;
    max-height: 645px;
    box-sizing: initial;
    scrollbar-width: thin;
    scrollbar-color: rgb(234, 201, 136) rgba(234, 201, 136, 0.25);
}

.scroll::-webkit-scrollbar {
    width: 6px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    border: 1px solid rgb(234, 201, 136);
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: rgb(234, 201, 136);
}