.isMe {
    color: whitesmoke !important;
    font-weight: bold;
}

.user {
    box-sizing: border-box;
    color: rgb(234, 201, 136);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    max-height: 40px;
    width: 100%;
    position: relative;
}

.user:hover {
    transition: all ease-in 300ms;
    color: white !important;
    cursor: pointer !important;
}

/*.user:hover .dropdownUser {*/
/*    transition: all ease-in 100ms;*/
/*    display: flex;*/
/*    height: 100px;*/
/*    box-shadow: 0 0 10px 2px white !important;*/
/*    z-index: 2;*/
/*    opacity: 1;*/
/*    border-radius: 5px;*/
/*}*/

.table-list-item:hover {
    transition: all ease-in 100ms;
    box-shadow: 0 0 10px 2px white !important;
}

.dropdownAnimated {
    transition: all ease-in-out 150ms;
    opacity: 1 !important;
    z-index: 3;
    box-shadow: 0 0 10px 2px white !important;
    cursor: default;
}

.dropdownUser {
    max-height: 300px;
    top: 0;
    opacity: 0;
    display: flex;
    position: absolute;
    border-radius: 5px !important;
}

.scroll {
    overflow-y: scroll;
    max-height: 645px;
    box-sizing: initial;
}
.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    border: 1px solid rgb(234, 201, 136);
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: rgb(234, 201, 136);
}